{% extends "base.html" %}

{% block title %}
    All Tasks - {{ super() }}
{% endblock %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block content %}
    <p>{{ content }}</p>
    
    <!-- Tasks table section -->
    <h2>All Tasks</h2>
    {% if tasks %}
        <div id="tasks-grid">
            {% for task in tasks %}
            <div class="task-card">
                <h2 id="task-title">Title: {{task.title}}</h2>
                <p class="task-details">Description: {{task.body}}</p>
                <p class="task-details">Assigned to: {{task.assigned_to}}</p>
                <p class="task-details">Created by: {{task.created_by}}</p>
                <p class="task-details">Date created: {{task.date_created}}</p>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No tasks found in the database.</p>
    {% endif %}
{% endblock %}