<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <header>
        <nav>
            <a href="/index" class="nav-links">Home</a>
            <a href="/employees" class="nav-links">Employee Info</a>
            <a href="/all-tasks" class="nav-links">All Tasks</a>
            <a href="/log" class="nav-links">Logs</a>
            <a href="/search" class="nav-links">Search</a>
            {% if CS.getUsername() == "admin" %}

            <a href="/admin-actions" class="nav-links">Admin Actions</a>
            {% endif %}
            
            {% if CS.getRole().lower() == "manager" %}
            <a href="/manager-actions" class="nav-links">Manager Actions</a>
            {% endif %}
        </nav>
        <nav>
            <button onclick="window.location.href='/logout'">Logout</button>
        </nav>
    </header>

    <!-- ADD THIS AS A JINJA CONDITIONAL AFTER CREATING CURRENT SESSION CLASS : <a href="/admin-actions" class="nav-links">Add User</a>-->

    <main>
        <h1>{% block page_title %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>My Website - © 2025</p>
    </footer>
</body>
</html>
