{% extends "base.html" %}

{% block title %} About Page {{ super() }}{% endblock %}
{% block page_title %} {{ title }} {% endblock %}
{% block content %}
    <p>{{content}}</p>
    
    <form action="/order" method="POST">
        {{form.csrf_token}}
        {{form.fname.label}}<br>
        {{form.fname}}<br><br>
        {{form.lname.label}}<br>
        {{form.lname}}<br><br>
        {{form.gender.label}}<br>
        {{form.gender}}<br><br>
        {{form.country.label}}<br>
        {{form.country}}<br><br>
        {{form.submit}}
    </form>

{% endblock %}