{% extends "base.html" %}

{% block title %}Customers Filters Page- {{ super() }}{% endblock %}  </br>

{% block page_title %} {{title}} {% endblock %}

{% block content %}

    <p>{{ content }}</p>  

        <form action="/search" method="POST">

        {{sform.csrf_token()}} {#csrf token is used to protect the form from malicious requests#}

        {{sform.value.label}}

        {{sform.value}}</br>
        
        <div id="searchBtnDiv">
            <button class="searchBtn" type="submit" name="search_title">Search Task Titles</button>
            <button class="searchBtn" type="submit" name="search_description">Search Task Descriptions</button>
            <button class="searchBtn" type="submit" name="search_username">Search Tasks By Username</button></br>
        </div>
        

    </form>

    {% endblock %}